body {
  padding-top: 70px;
}

.main {
  max-width: 320px;
  margin: 0 auto;
}

.card {
  font-size: 1em;
  padding: 0;
  padding-top: 15px;
  margin-bottom: 30px;
  height: 470px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  border-radius: .28571429rem;
  -webkit-box-shadow: 0px 8px 27px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 27px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 27px -10px rgba(0, 0, 0, 0.75);
}

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  /*border-top: 1px solid rgba(34, 36, 38, .1);*/
  box-shadow: none;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
}

.card-text {
  clear: both;
  margin-top: .5em;
  color: rgba(0, 0, 0, .68);
}


/*[class*="input-group"] {
  margin-bottom: 15px !important;
}*/

[class*="col-sm"] {
  margin-bottom: 15px !important;
}
